# .gitignore

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test
*.out

# Go workspace
go.work

# Environment variables (СЕКРЕТЫ!)
.env
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db